body {
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}
#chart {
    border: 1px solid #ccc;
    border-radius: 8px;
}
circle.node {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}
line.link {
    fill: none;
    stroke: #C1D6E1;
    stroke-width: 1px;
}
#chart text.label {
    font: 10px sans-serif;
    color: #ffffff;
}
